# Carpeta Shared
shared/*

# ARchivos de Prueba
!shared/
!shared/input/
!shared/input/test-mapreduce.txt
!shared/input/test-hive.csv
!shared/test-mapreduce.sh
!shared/test-hive.sh

# Carpeta Data
data/zeppelin/notebooks

# VENV
docs/venv/