# Carpeta Shared
shared/*

# Drivers
conf/drivers/hive/*

# Archivos de Prueba
!shared/
!shared/input/
!shared/input/test-mapreduce.txt
!shared/input/test-hive.csv
!shared/input/test-titanic.csv
!shared/test-mapreduce.sh
!shared/test-hive.sh
!shared/test-titanic.sh

# Carpeta Data
data/zeppelin/notebooks/*
!data/zeppelin/notebooks/Notebook Hive_2KEKMZEAK.zpln

# VENV
docs/venv/